@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-cover {
  background-color: #202023;
}

h1, h2, h3, h4, h5, h6, p, a{
  letter-spacing: 0;
  position: relative;
  color: #ffffff;
  margin: 0
}

.group li:hover span {
  bottom: -5px;
}

.group li.active span {
  bottom: -5px;
}

.group :hover span {
  bottom: -5px;
}

.group .active span {
  bottom: -5px;
}